body{
  width: 90vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

.wordPart{
  display: block;
}
.styleText{
  width: 45vw;
  margin-left: 5vw;
  height: 30vh;
  margin-top: 20vh;

}
.textReadOut{
  width: 30vw;
  padding: 3em;
height: 30vh;
overflow-y: auto;
 margin-top: -30vh;
 margin-bottom: 20vh;
 margin-left: 60vw;
  border: 1px solid #999;
  
}
.imageResize{
  width: 20vw;
  height:20vh;
}
.textExample{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 2em;
}
.imageOutput{
  width:85vw;
}

textarea{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

button{
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  background: transparent;
  border: 1 px solid #999;
  position: absolute;
   margin-top: -20vh;
   margin-left: 5vw;
}

.textExample img{
  display:none;

}
.textExample img:first-child{
  display:inline;
  padding: 1em;
}